.ownersHeading {
  margin: 30px 0 10px 100px;
}

.table {
  width: 75%;
  max-width: 80%;
  margin: 10px 0 1rem 100px;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #403c34;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background-color: #403c34; 
  color: white; 
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.center {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
